body {
    font-family: "Courier New", monospace;
    letter-spacing: 2px;
    line-height: 1.5;
    /* Additional styles */
    background-color: #ffcccc;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2.5em;
    margin-top: 0;
    color: #333;
}

h2 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    color: #666;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}

/* Rest of the CSS code remains the same */

#gameboard {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2em;
}

#gameboard button {
    background-color: #333;
    border: none;
    border-radius: 5px;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.5em;
    padding: 1em 2em; /* Adjust padding to increase button size */
    text-transform: uppercase;
    transition: all 0.3s ease;
    color: #fff;
}


#gameboard button:hover {
    background-color: #666;
    cursor: pointer;
}

#gameboard button:active {
    transform: scale(0.9);
}

#results{
    font-size: 1.5em;
    margin-top: 2em;
    color: #333;
}

#play-again {
    margin-top: 1em;
    color: #665;
}